@page
@model Markom2.Web.Pages.Master.DetailMCompanyModel

@{
    ViewData["Title"] = "DetailMCompany";
}

<h1>DetailMCompany</h1>

<div>
    <h4>MCompany</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MCompany.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MCompany.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MCompany.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MCompany.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MCompany.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MCompany.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MCompany.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MCompany.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MCompany.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MCompany.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MCompany.IsDelete)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MCompany.IsDelete)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MCompany.CreatedBy_Navigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MCompany.CreatedBy_Navigation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MCompany.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MCompany.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MCompany.UpdatedBy_Navigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MCompany.UpdatedBy_Navigation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MCompany.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MCompany.UpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MCompany.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
